[submodule "reference_zouyonghao_mt7927"]
	path = reference_zouyonghao_mt7927
	url = https://github.com/zouyonghao/mt7927.git
[submodule "reference_mtk_modules"]
	path = reference_mtk_modules
	url = https://github.com/MiCode/MTK_kernel_modules.git
[submodule "reference_gen4m"]
	path = reference_gen4m
	url = https://github.com/MotorolaMobilityLLC/vendor-mediatek-kernel_modules-connectivity-wlan-core-gen4m.git
[submodule "reference_mt76"]
	path = reference_mt76
	url = https://github.com/openwrt/mt76.git
